@media (max-width: 992px) { 
    html{
        font-size: 80%;
    }
}


@media (max-width: 768px) { 
    html{
        font-size: 65%;
    } 
    .text-end {
        text-align: center !important;
    }
    .feature .col-md {
        margin-bottom: 18px;
    }
    .card_content {
        text-align: center;
    }   
}

@media (max-width: 576px) { 
    section.footer {
        text-align: center;
    }

    .testimonial p {
        margin-top: 3rem;
        text-align: center;
    }
}